@model ClothingStore.Models.Models.Admin.OtherParametersModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Other Parameters</title>
    <link rel="stylesheet" href="~/css/admin/admin-panel-layout.css">
    <link rel="stylesheet" href="~/css/admin/admin-panel-products-otherparams.css">
</head>
<body>
    <div class="main-container d-flex">
        <div class="left-menu">
            <div class="menu-items">
                <div>
                    <form class="item" asp-controller="Admin" asp-action="Users">
                        <input type="submit" value="Users">
                    </form>
                </div>
                <div>
                    <form class="item">
                        <input type="submit" value="Orders">
                    </form>
                </div>
                <div>
                    <form class="item">
                        <input type="submit" value="Statistic">
                    </form>
                </div>
                <div>
                    <form class="item selected" asp-controller="Admin" asp-action="Products">
                        <input type="submit" value="Products">
                    </form>
                </div>
            </div>
        </div>
        <div class="main-menu">
            <div class="main-table">
                <div class="d-flex">
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Color Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var color in Model.Colors)
                            {
                                <tr>
                                    <td>@color.Id</td>
                                    <td>@color.Name</td>
                                    <td>
                                        <form asp-controller="Admin" asp-action="DeleteColor" method="post">
                                            <input type="hidden" name="id" value="@color.Id" />
                                            <input class="table-button" type="submit" value="Delete">
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="add-form">
                        <form class="d-flex" asp-controller="Admin" asp-action="CreateColor" method="post">
                            <input type="text" name="color" placeholder="Color">
                            <input type="submit" value="Add">
                        </form>
                    </div>
                </div>
                <div class="d-flex">
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Size Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var size in Model.Sizes)
                            {
                                <tr>
                                    <td>@size.Id</td>
                                    <td>@size.Name</td>
                                    <td>
                                        <form asp-controller="Admin" asp-action="DeleteSize" method="post">
                                            <input type="hidden" name="id" value="@size.Id" />
                                            <input class="table-button" type="submit" value="Delete">
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="add-form">
                        <form class="d-flex" asp-controller="Admin" asp-action="CreateSize" method="post">
                            <input type="text" name="size" placeholder="Size">
                            <input type="submit" value="Add">
                        </form>
                    </div>
                </div>
                <div class="d-flex">
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Quality Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var quality in Model.Qualities)
                            {
                                <tr>
                                    <td>@quality.Id</td>
                                    <td>@quality.Name</td>
                                    <td>
                                        <form asp-controller="Admin" asp-action="DeleteQuality" method="post">
                                            <input type="hidden" name="id" value="@quality.Id" />
                                            <input class="table-button" type="submit" value="Delete">
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="add-form">
                        <form class="d-flex" asp-controller="Admin" asp-action="CreateQuality" method="post">
                            <input type="text" name="quality" placeholder="Quality">
                            <input type="submit" value="Add">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>